body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* map */

.contact-map {
    margin-top: 30px;
    display: flex;
    padding-bottom: 10px;
}

.contact-map .row {
    align-items: center;
}


button {
    padding: 10px 20px;
    border: 1px solid rgb(173, 118, 118);
    color: rgb(0, 130, 243);
    font-size: 15px;
}

button:hover {
    background-color: rgb(173, 216, 216);
    color: rgb(129, 163, 163);
}


.row {
    padding: 10px 10px;
}

.map {
    display: flex;
    padding: 0 100px 0 100px;
    align-items: center;
    background-color: aliceblue;
}


.col-1 {
    flex: 1;
}

.contact-map__info {
    padding: 10px 200px 30px 60px;
    margin-top: -100px;
}

.page-title {

}

.page-securities-1 {

}

.page-sucurities-2 a {
    color: rgb(116, 167, 214);
}

.col-2  {
    display: block;
    height: 30%;
    width: 600px;
    padding: 50px 50px;
    flex: 1;

}

.fa-map {
    
}

.map-google {
    height: 100%;
    width: 100%;
}

.contact-map__iframe  {
    height: 400px;
    width: 700px;
}
